# Text files
* text=auto

# Source code
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.py text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sql text eol=lf

# Docker files
Dockerfile* text eol=lf
*.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.wav binary
*.mp3 binary
*.ogg binary

# Archive files
*.zip binary
*.tar binary
*.gz binary

# Font files
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
